# Connection to commerce
COMMERCE_BASE_URL=
COMMERCE_ACCESS_TOKEN=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRETS=
OAUTH_TECHNICAL_ACCOUNT_EMAIL=
OAUTH_TECHNICAL_ACCOUNT_ID=
OAUTH_SCOPES=
OAUTH_IMS_ORG_ID=

# Connection to app backend (run `npm run backend:register` to fulfill the token)
BACKEND_BASE_URL=https://app-backend.ideal-code.com
BACKEND_ACCESS_TOKEN=
